* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #ecdfcb;
}

h1 {
    text-align: center;
}

.Card-Book {
    border: 0.2em solid black;
    border-radius: 2%;
    padding: 1%;
    margin: 1% 15% 1% 15%;
    text-align: center;
    width: 70%;
    text-decoration: none;
    color: #ecdfcb;
    background-color: #3d3e38;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span {
    color: #ffffff;
}

img {
    border-radius: 5%;
}

ul,
li {
    list-style: none;
}

button {
    border: none;
    background-color: #171b13;
    padding: 1%;
    margin-top: 2%;
    color: white;
}

button:hover {
    background-color: #ecdfcb;
    color: #171b13;

}